/problematicas/problematica1/nbproject/private/
/problematicas/problematica1/build/
/problematicas/problematica2/nbproject/private/
/problematicas/problematica2/build/
/problematicas/problematica3/nbproject/private/
/problematicas/problematica3/build/
/problematicas/problematica4/nbproject/private/
/problematicas/problematica4/build/
/problematicas/problematica5/build/
/problematicas/problematica5/nbproject/private/
